#comment-info {
  max-width: 600px;
  margin: 0 auto;
  padding: 10px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.comment {
  padding: 10px;
  margin-bottom: 10px;
  background-color: #f8f9fa;
  border-left: 4px solid #EA3322;
  border-radius: 4px;
}

.comment p {
  margin: 0;
}
/* 
.comment:nth-child(even) {
  background-color: #f8f9fa;
} */

.custom-btn {
  background-color: #EA3322; /* Example custom color */
  border-color: #EA3322; /*Ensure the border matches */
  color: white; /* Text color */
}

.custom-btn:hover {
  background-color: #e14a2b; /* Darker shade for hover effect */
  border-color: #e14a2b;
  color: white; /* Text color */
}

.custom-btn:active {
  background-color: #c74323 !important; /* Even darker shade for active effect */
  border-color: #c74323;
  transform: scale(0.95); /* Slightly shrink the button to indicate it's pressed */
  color: white !important; /* Text color */
}

body.light-theme {
  background-color: #ffffff !important; /* Light theme background color */
  color: #000000 !important; /* Light theme text color */
}

body.dark-theme {
  background-color: #777777 !important; /* Dark theme background color */
  color: #ffffff !important; /* Dark theme text color */
}
